* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: rgba(3, 3, 3, 0.973);
}

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #0a0808 20%, #ff0000 90%);
    --secondaryGradient: linear-gradient(268.91deg, #1715181a -2.14%, #17161833 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(150, 73, 73, 0.1);
    --primary: #000000e3;
    --primary-dark: #00021d;
    --secondary: #b4b1b1;
    --secondary-dark: #676767;
    --third: #ff0000;
    --third-dark: #e00f0f;
    --fourth: #fff;
    --fourth-dark-b: #000;
}

a {
    text-decoration: none;
}

hr {
    height: 2px;
    background-color: var(--third-dark);
    border: none;
}


/* NAVBAR
=============== */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 2rem;
    margin: auto;
    background: linear-gradient(45deg, #0a0808 10%,  #ff0000 100%);
    
}

.nav_logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.nav_logo img {
    width: 4rem;
}

.nav_logo h1 {
    font-size: 1.5rem;
    color: var(--fourth);
}


.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_links a {
    color: var(--fourth);
    font-size: 1.1rem;
    font-weight: 550;
    cursor: pointer;
    transition: 0.2s ease;
}

.nav_links a:hover {
    color: var(--third);
    filter: drop-shadow(5px 5px 20px black);
    font-size: 1.2rem;

}

.log-in {
    border: 1.5px solid var(--fourth);
    border-radius: 30px;
    padding: 0.6rem;
}

.log-in:hover {
    border: 1.5px solid var(--third);
    box-shadow: 2px 2px 20px var(--primary);
}

/* SIDE-NAVBAR */
.nav_links-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(231, 159, 159, 0.333);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    padding: 1rem;
}

.nav_links-sidebar li {
    padding: 0.5rem;
    width: 100%;
}

.nav_links-sidebar a {
    width: 100%;
}

.showLink {
    display: none;
}





/* Animated Line
=============== */
.line {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
    background-color: var(--fourth-dark-b);
}

.line h1 {
    font-size: 1rem;
    color: var(--third);
    white-space: nowrap;
    padding: 0 4rem;
    letter-spacing: 1px;
    animation: move-rgt 5000ms linear infinite;
}

@keyframes move-rgt {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}




/* Main Section
=============== */
.section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 1rem;
    margin-top: 2.5rem;
    gap: 1rem;
}

.section-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--third);
    box-shadow: 1px 1px 10px black;
    width: 160px;
    position: relative;
    left: 20%;
    border-radius: 10px;
    padding: 1rem 1rem 0rem 1rem;
    /* background-color: ; */
}

.section-container-left h2 {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--fourth);
}

.section-container-left .text {
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
}

.text a {
    color: var(--fourth);
}

.text a:hover {
    color: var(--third-dark);
    font-size: 1.2rem;
    transition: 0.3s ease;
    text-shadow: 1px 1px 10px var(--third-dark);
}

.section-container-right {
    margin-left: -10%;
}

.section-container-right img {
    width: 600px;
    box-shadow: 1px 1px 20px black;
}

.blinking-text {
    font-size: 1.8rem;
    color: var(--fourth);
    animation: blink 1.5s infinite;
    position: absolute;
    bottom: 10%;
    right: 2%;

}

@keyframes blink {

    0%,
    49%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}









/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #181616;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-10px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: rgb(44, 44, 44);
    height: 350px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__image--header img {
    width: 2.3rem;
}

.chatbox__heading--header {
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 2px;
    color: var(--fourth);
}

.chatbox__description--header {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--fourth);
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    font-size: 0.8rem;
    background: rgba(247, 229, 229, 0.541);
    padding: 8px 12px;
    max-width: 70%;
    color: var(--fourth);
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(247, 229, 229, 0.541);
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    background: var(--primaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: var(--fourth);
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.2s ease;
}

.chatbox__send--footer:hover {
    filter: drop-shadow(10px 5px 5px rgb(13, 13, 17));
    font-size: 1rem;
}

.chatbox__button img {
    width: 30px;
    height: 25px;
}


.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 6px;
    background: var(--third);
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}




@media only screen and (max-width: 900px) {
    body {
        font-size: 90%;
        height: fit-content;
    }

    /* NavBar */
    nav {
        height: 10rem;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 3rem;
        margin: auto;
    }
    .nav_logo {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .nav_logo img {
        width: 4.5rem;
    }
    .nav_logo h1 {
        font-size: 1.6rem;
        color: var(--fourth);
        font-weight: 790;
    }
    .nav_links img{
        width: 2rem;
    }
   
    .nav_links-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(10px);
        width: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nav_links-sidebar li {
        width: 100%;
        padding-left: 2rem;
    }
    .showLink {
        display: block;
    }

    .link1 {
        display: none;
    }

    /* Animated Line */
    .line {
        height: 40px;
    }
    .line h1 {
        font-size: 1.3rem;
    }
    

    /* Main */
    .section-container {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin: auto;
        margin-top: 4rem;
    }

    .section-container-left {
        left: 0;
        width: 100%;
        
    }
    .section-container-left h2 {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--fourth);
        text-align: center;
    }
    .section-container-left .text {
        margin: 1.3rem 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .text a:hover {
        color: var(--third-dark);
        font-size: 1.4rem;
        transition: 0.3s ease;
        text-shadow: 1px 1px 10px var(--third-dark);
    }
    

    .section-container-right img {
        width: 100%;
        height: 100%;
        position: relative;
        left: 30px;
    }
    .blinking-text{
        display: none;
    }

    /* ChatBot */
    .chatbox {
        position: fixed;
    }


}